body {
    margin: 0px;
    font-family: 'Gloria Hallelujah', 'Indie Flower', 'Mali', cursive;
}

.hBg {
    background-image: url(../img/h01.jpg);
    background-size: cover;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 5px 5px 5px #f38823;
}

.text-s {
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

.mainBg {
    background: #f5f4f4;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 20px;

}

.fBg{
    background: #3a3a3a; 
    color: #f5f4f4;
    border-top: 3px solid #a8a5a5;
}

.canvas {
    border: 4px solid #805050;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
    cursor: crosshair;
}

#canvas-draft {
    background-color: transparent;
}

#canvas-real {
    background-color: #ffefe9;
}

#canvas-container {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 480px;
    width: 640px;
    position: relative;

}

.buttons {
    position: relative;
    z-index: 10;
}

#zoomImg {
    display: none;
}

#undoImg {
    display: none;
}

#redoImg {
    display: none;
}

.invertButtons {
    filter: invert(100%);
}
